*{
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #0e0e0e;
    min-height: 100vh;
    text-align: center;
}

#title{
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 52px;
    margin-bottom: 2rem;
}

.mid-container{
    color: white;
    margin: 3rem 1rem;
}

#subtitle{
    font-size: 21px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 26px;
}

.top-container{
    background-color: #fff;
    height: 30vh;
    padding-top: 4rem;
    width: 100%;
    text-align: center;
}

.tiltcards{
    display: flex;
    gap: .4rem;
}

.tiltcard{
    align-items: center;
    background: #343a40;
    display: flex;
    gap: .8rem;
    height: 230px;
    margin: .5rem;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #0070fe;
    padding: .2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tiltcard-mini{
    align-items: center;
    background: #343a40;
    display: flex;
    gap: .8rem;
    height: 150px;
    margin: .5rem 15% .5rem 68%;
    width: 31.5%;
    border-radius: 2px;
    border: 1px solid #0070fe;
    padding: .2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.opac{
    opacity: 40%;
}

.pc{
   font-size: 19px;
}

.h1c{
    font-size: 23px;
    margin-bottom: 1.2rem;
    text-align: center;
}

#title{
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 52px;
    margin-bottom: 2rem;
}

.blue-box{
    background-color: #0070fe;
    color:white;
    margin: 2rem;
    width: 20%;
    position: relative;
    margin: 3rem 40%;
}

img{
    margin-left:5px;
}

/*test*/

.ribbon{
    box-shadow: 0 0 0 999px #0070fe;
    clip-path: inset(0 -100%);
    position: fixed;
    inset: 0 0 auto auto;
    background: #0070fe;
    transform-origin: 0 0; /* or top left */
    transform: translate(29.3%) rotate(45deg);
}

.ribbon-1{
    box-shadow: 0 0 0 999px #0070fe;
    clip-path: inset(0 -100%);
    position: fixed;
    inset: 0 0 auto auto;
    background: #0070fe;
    transform-origin: 0 0; /* or top left */
    transform: translate(29.3%) rotate(45deg);
}

span{
    font-size: 30px;
}
