*{
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #0e0e0e;
    min-height: 100vh;
    text-align: center;
}

/* TOP CONTAINER - TITLE */
.top-container{
    background-color: #fff;
    height: 30vh;
    overflow: hidden;
    padding-top: 4rem;
    text-align: center;
    width: 100%;
}

#title{
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 52px;
    margin-bottom: 2rem;
}

#subtitle{
    font-size: 21px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 26px;
}

/* MID CONTAINER - CARDS */

.mid-container{
    text-align: center;
    color: white;
    justify-content: center;
    margin: 3rem 1rem;
}

.tiltcards{
    display: flex;
    gap: .4rem;
}

.tiltcard{
    align-items: top;
    background: #343a40;
    border: 1px solid #0070fe;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    gap: .8rem;
    height: 250px;
    justify-content: center;
    margin: .5rem;
    overflow: hidden;
    padding: 1rem .5rem .5rem .5rem;
    text-overflow: ellipsis;
    width: 100%;
}

.tiltcard-mini{
    align-items: center;
    background: #343a40;
    border: 1px solid #0070fe;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    gap: .8rem;
    height: 250px;
    margin: .5rem 15% .5rem 75.5%;
    overflow: hidden;
    padding: .2rem;
    text-overflow: ellipsis;
    width: 24%;
}

.opac{
    opacity: 40%;
    cursor: auto;
}

.pc{
    clear: left;
    font-size: 19px;
}

.h1c{
    font-size: 25px;
    margin: .8rem auto .8rem auto;
}

.blue-box{
    background-color: #0070fe;
    border: 1px solid #0070fe;
    color:white;
    margin: 3rem 40%;
    overflow: hidden;
    position: relative;
    width: 20%;
}

img{
    float: left;
    margin: auto .2rem 1rem 1rem;
}

/*ribbon*/

.ribbon{
    box-shadow: 0 0 0 999px #0070fe;
    clip-path: inset(0 -100%);
    position: fixed;
    inset: 0 0 auto auto;
    background: #0070fe;
    transform-origin: 0 0; /* or top left */
    transform: translate(29.3%) rotate(45deg);
}

span{
    font-size: 25px;
}