
// ribbon code
.badge-promo {
position: relative;
overflow: hidden;
max-height: 60px;
margin-bottom: -8px;
z-index: 1;
padding: 12px 14px;
border-radius: 2px 2px 0 0;
color: #fff;
text-align: left;

&:before,
&:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

&:before {
    background: #a5daff;
    height: 100%;
    width: 110%;
    transform-origin: bottom right;
    transform: rotate(1deg);
}

&:after {
    background: #3fb0ff;
    transform: rotate(-3deg);
    transform-origin: bottom left;
    height: 100%;
    width: 110%;
}
}

.badge-promo-content {
position: relative;
z-index: 1;
font-size: 18px
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }